body{
  font-size: 18px;
  font-family: 'Open Sans', Arial;
}
h2{text-align: center;}

////////////////////
.task_form{

  #form1{
    width: 40%;
    margin: auto;
    .fields{
      width: 100%;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .submit{margin: 25px auto;display: block;width: 25%;height: 30px;}
  }
}
