body{
  font-size: 20px;
  font-family: 'Open Sans', Arial;
}
.info_container{
  .title{text-align: center;font-weight: 700;}
  padding: 1% 5% 5%;
  width: 50%;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,1), 0 0px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #1e1e1e;
  margin: 5% auto;
  color:#fff;
  legend{color:inherit;}
  .data{
      line-height: 36px;
      border: 0;
      .info{
          padding: 5px 20px;
          width: -webkit-fill-available; 
          font-size:17px;
          border: transparent 2px solid;
          &:focus{outline: 2px ridge #0ff; outline-offset: 1px;}
          &::placeholder{font-size: 15px; color:#555;}
      }
      .error_msg{color: #0ff;font-size: 15px;display: none;}
    }
  }
#submit{
    text-align: center;
    a{font-size: 14px; color:#0ff; text-decoration:none;  }
    button{color:#fff;background:#00f;}
  }
.button{
    font-weight: 700;
    line-height: 16px;
    min-width: 50px;
    padding: 15px 40px;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border: 1px solid #3079ed;
    border-radius: 10px;
  }

// #subjects{
//     p{margin: 10px 0;}
//     .remSub{
//       font-size:16px;
//       color: #00f;
//       font-weight: 700;
//       position: absolute;
//       right: 27%;
//       transform: translateY(-95%);
//       padding:0 12px;
//       cursor:pointer;
//     }
//   }
// #buttonAddSub{display:block; margin:10px 0; padding: 8px 20px;}