body {
  font-size: 25px;
  color: #555;
  font-family: 'Open Sans' ,Arial;
  line-height: 35px;
}
body #task1, body #task2 {
  text-align: center;
}
body #task2 {
  margin: 30px;
}
body #task2 img {
  width: 60%;
  height: auto;
}
body #task3 table, body #task3 td, body #task3 th {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  border-collapse: collapse;
}
body #task3 td, body #task3 th {
  width: 10em;
}
